* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background: none;
  outline: none;
  border: none;
}

